.disabledList{
    
    pointer-events:none; 
    opacity:0.6;        

}

#todoList{
    border: 10px solid rgb(159, 174, 85);
    border-radius: 1rem;
}

#mainnavbar{
    background: rgb(159, 174, 85);
}